/* WrongPage.css */
.video::-webkit-media-controls {
    display: none !important;
  }
  
  .video::-webkit-media-controls-enclosure {
    display: none !important;
  }
  
  .video::-webkit-media-controls-panel {
    display: none !important;
  }
  
  .video::-webkit-media-controls-play-button {
    display: none !important;
  }
  